@import 'vars';

.nav {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    // border: solid green;
   

    button {
        width: 48%;
        color: $color2;
        background: $color1;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        border: $color2 solid 1px;
    }
}